<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Source+Sans+Pro:ital,wght@1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Source+Sans+Pro:ital,wght@1,900&family=Titillium+Web:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/9f64adc47a.js" crossorigin="anonymous"></script>
    <title>Tech Forum</title>
</head>
<body>
    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Assigned Readings</h1>
            </div>
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-brands fa-html5"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h2><a href=""> Description Title</a></h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span> 24 Posts <span class="lineSpan">|</span> 15 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">Last Post</a></b> 
                    by <a href="">CodinbyCarter</a>  
                    <br>
                    on <small> 26 May 2022 </small> 
                </div>
            </div>  
            <!-- Forum Continued -->
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-brands fa-css3"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h2><a href=""> Description Title</a></h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span> 29 Posts <span class="lineSpan">|</span> 25 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">Last Post</a></b> 
                    by <a href="">Carter</a>  
                    <br>
                    on <small> 27 May 2022 </small> 
                </div>
            </div>  
            <!-- Forum Continued -->
                <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa-brands fa-js"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h2><a href=""> Description Title</a></h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span> 22 Posts <span class="lineSpan">|</span> 22 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="">Last Post</a></b> 
                    by <a href="">Username</a>  
                    <br>
                    on <small> 28 May 2022 </small> 
                </div> 
            </div>
         </div> 
         <div class="subforum-title">
            <h1>Homework Assignments</h1>
        </div>
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fa-brands fa-html5"></i>
            </div>
            <div class="subforum-description subforum-column">
                <h2><a href=""> Description Title</a></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span> 24 Posts <span class="lineSpan">|</span> 15 Topics</span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="">Last Post</a></b> 
                by <a href="">CodinbyCarter</a>  
                <br>
                on <small> 26 May 2022 </small> 
            </div>
        </div> 
         <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fa-brands fa-css3"></i>
            </div>
            <div class="subforum-description subforum-column">
                <h2><a href=""> Description Title</a></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span> 29 Posts <span class="lineSpan">|</span> 25 Topics</span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="">Last Post</a></b> 
                by <a href="">Carter</a>  
                <br>
                on <small> 27 May 2022 </small> 
            </div>
        </div>  
        <!-- Forum Continued -->
            <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fa-brands fa-js"></i>
            </div>
            <div class="subforum-description subforum-column">
                <h2><a href=""> Description Title</a></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span> 22 Posts <span class="lineSpan">|</span> 22 Topics</span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="">Last Post</a></b> 
                by <a href="">Username</a>  
                <br>
                on <small> 28 May 2022 </small> 
            </div> 
        </div>
     </div> 
    </div>
    <script src="main.js"></script>
</body>
</html>